<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
 
 
 <div class="collapse navbar" id="containerNavbar">
   
    <a class="navbar-brand" href="#">Compras App</a>

  <ul class="navbar-nav mr-auto w-100 justify-content-end">
      <li routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" >Inicio
      </a></li>
      <li routerLinkActive="active"><a
      routerLink="/proveedores">Proveedores</a></li>
   </ul>
  
 
 </div>
  
    


  </nav>
